body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.table th {
	background-color: #0575b4;
	color: #ddd;
	white-space: nowrap
}
.number-5 {
    max-width: 50px;
    float: right;
}
.number-cart {
    max-width: 80px;
}

.header {
    padding: 0px 10px 10px 10px;
}

.content {
    padding: -16px;
}

.sticky {
    position: fixed;
    top: 50px;
}

.sticky + .content {
    padding-top: 152px;
}

.scrollable { 
    height: 700px; /* or any value */
    overflow-y: auto;
}