@{
    ViewBag.Title = "Home Automation Web Server";
}

<div class="jumbotron">
    <h1>Home Controller</h1>
    <p class="lead">Will display infromation from sensors and some Interner sites (news, info, whether and so on)).</p>
</div>
